foreground-scripts=true
registry=https://mirrors.huaweicloud.com/repository/npm/
//registry.npmjs.org/:_authToken=npm_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
proxy=http://127.0.0.1:10087
https-proxy=http://127.0.0.1:10087
